.settings/
.project
node_modules
dist/
libs/
.vscode
.idea
.DS_Store
apps
cache
cache.dat
runtime
docs/documentation
packages/
npm-debug.log
crash_service.exe
debug.log
SnoreToast.lnk
-
website/i18n/
build/
persistence
logs/
deploy/configs/**.json
exports.js
.gulp/
