.settings/
.project
node_modules
dist/
libs/
.vscode
.idea
.DS_Store
apps
cache
cache.dat
runtime
docs/documentation
packages/
npm-debug.log
crash_service.exe
debug.log
SnoreToast.lnk
-
src/externalApp/CppWindowsHook/bin/
src/externalApp/CppHookDll/Debug
src/externalApp/CppWindowsHook/Debug
src/externalApp/CppWindowsHook/.vs/
src/externalApp/Debug
src/externalApp/.vs
persistence
logs/
deploy/configs/**.json
exports.js